[Unit]
Description=Attendance API

After=network-online.target
Wants=network-online.target

[Service]

User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/Attendance_API

Environment="PATH=/home/ubuntu/Attendance_API/.venv/bin"

ExecStart=/home/ubuntu/Attendance_API/.venv/bin/gunicorn ...

Restart=always

[Install]

WantedBy=multi-user.target