[Unit]
Description=Attendance API Database Migration
Documentation=https://github.com/Snaatak-Infra-Titans/Attendance_API

After=network-online.target
After=postgresql.service

Wants=network-online.target
Requires=postgresql.service

##########################################################

[Service]

Type=oneshot

User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/Attendance_API

Environment=CONFIG_FILE=/home/ubuntu/Attendance_API/config.yaml

ExecStart=/usr/local/bin/liquibase \
    --defaults-file=/home/ubuntu/Attendance_API/liquibase.properties \
    update

RemainAfterExit=yes

StandardOutput=journal
StandardError=journal

SyslogIdentifier=attendance-migration

TimeoutStartSec=300

##########################################################

[Install]

WantedBy=multi-user.target