[Unit]
Description=OTMS Salary API Service
After=network.target
Wants=network.target

[Service]
Type=simple

User=ubuntu
Group=ubuntu

WorkingDirectory=/home/ubuntu/Salary_API

# JVM Options
Environment="JAVA_OPTS=-Xms256m -Xmx512m"

# Run database migrations before starting the application
ExecStartPre=/usr/bin/make run-migrations

# Start the application
ExecStart=/bin/bash -c '/usr/bin/java $JAVA_OPTS -jar /home/ubuntu/Salary_API/target/salary-0.1.0-RELEASE.jar'

SuccessExitStatus=143

Restart=always
RestartSec=5

StandardOutput=append:/home/ubuntu/logs/salary.log
StandardError=append:/home/ubuntu/logs/salary.log

[Install]
WantedBy=multi-user.target
